
#review{
    margin-top: 100px;
    width: 100%;
    max-width: 1920px;
}

.article-container{
    border-width: 10px 10px 60px 10px;
    border-style: solid;
    border-color: white;
    width: 250px;
    height: 300px;
    text-align: center;
    background-color: rgba(227, 242, 247, 0.9);
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    max-width: 100%;
}

.article-container img{
    width: 250px;
    max-width: 100%;
    margin-top: -20px;
}

.article-h3{
    position: relative;
    top: 315px;
}

.article-top-text{
    margin-top: -20px;
}
.article{
    text-align: left;
}

@media screen and (min-width: 800px) and (max-width: 2048px) {
    .article-container{
        display: inline-block;
        margin-left: 50px;
        border-width: 20px 20px 60px 20px;
    }

}

@media screen and (min-width: 2049px) {
    .article-container{
        display: inline-block;
        margin-left: 85px;
        border-width: 20px 20px 60px 20px;
    }

}