@use "../abstract/variables";

//Standard styling av knappar
.button {
  background-color: #FFFFFF;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #000000;
  padding: .75rem 1rem;
  text-align: center;
  box-shadow: variables.$shadow;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-size: 1.2em;
  font-weight: 500;
  width: auto;
  display: block;
}

//Extra marginal till review-button
.review-button{
  @extend .button;
  margin: 5px;
}

//Sökknapp extra styling
#search-button{
  padding: 5px;
  display: inline-block;
  margin: 5px;
}

.button:hover{
  background-color: variables.$bg-color;
  box-shadow: variables.$shadow-hover;
}

//stängknapp till stora artiklar extra styling
.close-by-button{
  position: relative;
  top: -10px;
  float: right;
}

//Media queries som ändrar knapp display för att knapparna ska ligga sida vid sida.
@media screen and (min-width: 800px) and (max-width: 2048px) {
  .button {
    display: inline-block;
  }

}

@media screen and (min-width: 2049px) {
  .button {
    display: inline-block;
  }

}