//styling av H1 längst upp på sidan
h1{
    width: 250px;
    transform: translate(-50%);
    margin-left: 50%;
    color: white;
    font-size: 1.8em;
    position: absolute;
    top: 20px;
}
//Styling av h2 som laddas in när kategori väljs
h2{
    text-align: center;
    color: black;
    font-weight: 600;
    background-color: rgba(255, 255, 255);
    margin-right: auto;
    margin-left: auto;
    width: 250px;
    max-width: 100%;
}

#review h2{
    margin-bottom: 20px;
    margin-top: 90px;
}

//används till meny texten för att öppna menyn i mobilläget
#menu-text{
    position: relative;
    color: white;
    font-size: 1.2em;
    text-align: center;
}

//Media querie för specifika fall då skärmar runt 300px orsakar problem
@media screen and (max-width: 500px) {
    h1{
        text-align: left;
        color: white;
        font-size: 1.6em;
        width: 100px;
        margin-top: -100px;
        transform: none;
        margin-left: 20px;
        position: relative;
    }
}

//media querie för mellan stora skärmar
@media screen and (min-width: 800px) and (max-width: 2048px) {
    h2{
        width: 600px;
        padding: 10px;
    }

    #review h2{
        margin-top: 120px;
    }


    h1{
        text-align: center;
        color: white;
        top: 20px;
        font-size: 2em;
        width: 500px;
        position: absolute;
    }
}

//Media querie för stora skärmar typ 4k<
@media screen and (min-width: 2049px) {
    h2{
        width: 600px;
        padding: 10px;
    }

    #review h2{
        margin-top: 120px;
    }

    h1{
        position: absolute;
        text-align: center;
        color: white;
        top: 20px;
        font-size: 2em;
        width: 400px;
    }

}