#review{
    background-image: url("../img/4096x4096.png");
    background-size:contain;
    background-repeat: no-repeat;
    height: 2000px;
    max-width: 2000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
    margin-top: 30px;
}

#review h2{
    margin-bottom: 20px;
    margin-top: 90px;
}

.background-container{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 2000px;
}

body{
    background: linear-gradient((#052241),(#3f6884),(#052241));
}

@media screen and (min-width: 800px) and (max-width: 2048px) {
    #review h2{
        margin-top: 120px;
    
    }

}

@media screen and (min-width: 2049px) {
    #review h2{
        margin-top: 120px;

    }
}