//logotypen
#logo {
    position: relative;
    height: 60px;
}

//Div med text "meny" och logotyp. fungerar som knapp
nav div {
    position: absolute;
    right: 20px;
    top: 20px;
}

//vid hover av logo eller text förstoras logotyp och text
nav div:hover {
    #logo {
        height: 70px;
    }

    h4 {
        font-size: 1.4em;
    }
    cursor: pointer;
}

//Header styling
header {
    background: #09294c;
    height: 100px;
    max-width: 100%;

    ul {
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 100%;
        display: none;
        position: absolute;
        z-index: 1;
    }

    li {
        display: block;
        list-style: none;
    }
}

//Styling av stänga menyn för att den ska visas rätt
#close-menu {
    display: block;
}

//media querie för normalstora skärmar
@media screen and (min-width: 800px) and (max-width: 2048px) {

    #logo {
        height: 80px;
    }

    //Div med text "meny" och logotyp.
    nav div {
        position: absolute;
        right: 5%;
        top: 20px;
        transform: none;
        margin: 0;
    }

    //Div med text "meny" och logotyp. tar bort hover
    nav div:hover {
        #logo {
            height: 80px;
        }

        h4 {
            font-size: 1.4em;
        }
    }

    //Styling av meny för datorläget
    header {
        height: 0px;
        ul {
            margin-top: 80px;
            width: 410px;
            display: block;
            position: static;
            z-index: 0;
        }

        li {
            margin-left: 12px;
            display: inline-block;
        }

        //för att dölja menytext i storskärmsläge då den inte agerar knapp där
        h4 {
            display: none;
        }
    }

    //För att dölja stäng meny när användaren inte är i menyläge
    #close-menu {
        display: none;
    }

}

//Media querie för stora skärmar typ 4k<
@media screen and (min-width: 2049px) {

    #logo {
        height: 80px;
    }

    nav div {
        position: absolute;
        right: 14%;
        top: 20px;
        transform: none;
        margin: 0;
    }

    nav div:hover {
        #logo {
            height: 80px;
        }

        h4 {
            font-size: 1.4em;
        }
    }

    //Styling av meny för datorläget
    header {
        height: 0px;

        ul {
            margin-top: 80px;
            width: 410px;
            display: block;
            position: static;
            z-index: 0;
        }

        li {
            margin-left: 12px;
            display: inline-block;
        }

        h4 {
            display: none;
        }
    }

    //För att dölja stäng meny när användaren inte är i menyläge
    #close-menu {
        display: none;
    }

}