
#logo{
    position: absolute;
    top:10;
    height: 80px;
    transform: translate(-50%);
    margin-left: 50%;
    clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
}

#logo:hover{
    top:0;
    height: 100px;
}

header{
    height: 160px;
    background: #09294c;
}