#logo {
    position: relative;
    height: 60px;
}

nav div:hover {
    #logo{
    height: 70px;
    }
    h4 {
        font-size: 1.4em;
    }
}


header {
    background: #09294c;
    height: 100px;
}

header ul {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: none;
    position: absolute;
    z-index: 1;
}

header li {
    display: block;
    list-style: none;
}

nav div {
    position: absolute;
    right: 20px;
    top: 20px;
}

#close-menu{
    display: block;
}




@media screen and (min-width: 800px) and (max-width: 2048px) {

    #logo {
        height: 80px;
    }

    
    nav div:hover {
        #logo{
        height: 80px;
        }
        h4 {
            font-size: 1.4em;
        }
    }

    header {
        background: #09294c;
        height: 0px;
    }

    header ul {
        margin-top: 80px;
        margin-left: auto;
        margin-right: auto;
        width: 370px;
        display: block;
        position: static;
        z-index: 0;
    }

    header li {
        margin-left: 12px;
        display: inline-block;
    }

    header h4 {
        display: none;
    }

    nav div {
        position: absolute;
        right: 5%;
        top: 20px;
        transform: none;
        margin: 0;
    }

    #close-menu{
        display: none;
    }

}

@media screen and (min-width: 2049px) {

    #logo {
        height: 80px;
    }

    
    nav div:hover {
        #logo{
        height: 80px;
        }
        h4 {
            font-size: 1.4em;
        }
    }

    header {
        background: #09294c;
        height: 0px;
    }

    header ul {
        margin-top: 80px;
        margin-left: auto;
        margin-right: auto;
        width: 370px;
        display: block;
        position: static;
        z-index: 0;
    }

    header li {
        margin-left: 12px;
        display: inline-block;
    }

    header h4 {
        display: none;
    }

    nav div {
        position: absolute;
        right: 14%;
        top: 20px;
        transform: none;
        margin: 0;
    }

    #close-menu{
        display: none;
    }

}