//Box-shadow
$shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5), 0 2px 3px 0 rgba(0, 0, 0, 0.5);
$shadow-hover: 0 2px 6px 0 rgba(0, 0, 0, 0.8), 0 2px 4px 0 rgba(0, 0, 0, 0.8);
//Bakgrundsfärg-hover
$bg-color: #dddddd;